<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h4>Contact Me</h4>
        <p>Email me
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=huangdavidd@gmail.com">here</a>
          to discuss my qualifications further or with any questions you may have!</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/davidhuang1550" target="_blank" class="btn btn-default btn-md">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="/assets/resume.docx" target="_self" download="resume.docx" class="btn btn-default btn-md">
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <span class="network-name"> Resume</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/david-huang-134348136/" target="_blank" class="btn btn-default btn-md">
              <i class="fa fa-linkedin-square"></i>
              <span class="network-name"> Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
