
  <header class="masthead" id="frontPageContainer">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div id="quote-container">
              <h1 class="brand-heading" id="intro-header" [@fadeInOut]="trait">{{trait}}</h1>
              <p class="intro-text" id="intro-text" [@fadeInOut]="quote">{{quote}}</p>
                <a href="#about" class="btn btn-circle js-scroll-trigger">
                  <i class="fa fa-angle-double-down fa-sm animated"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
